.sidebar {
    min-height: 100vh;
    position: relative;
    margin-top: 0;
    background-color: $black !important;
}
.sidebar ul li {
  border-bottom: 0 solid #e7e7e7;
  margin-left: 0px !important;

  a {
    transition: all 0.3s;
  }
}

.sidebar ul li a.active {
  color: $primary-color !important;
  background-color: initial;
}

.sidebar ul li.logout {
  background-color: $primary-color;
  position: absolute;
  bottom: 0;
  width: 250px;
  text-align: center;
}
.nav > li > a:hover{
  color: $primary-color;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: initial;
  color: $primary-color !important;
}

.sidebar ul li:focus{
  color: white !important;
}


.navbar{
  border: 0px;
  height: 0;
  min-height: initial;
}
